extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        .row.proximos-viajes
            each viaje in result
                .col-md-6.col-lg-4.mb-4
                    .card
                        img(src=`/img/destinos_${viaje.imagen}.jpg`, alt="imagen destino", class="img-fluid")
                        .card-body
                            h2 #{viaje.titulo}
                            p
                                i.fas.fa-calendar-alt 
                                |  #{viaje.fecha_salida} hasta #{viaje.fecha_retorno}
                            p
                                i.fas.fa-dollar-sign
                                |  #{viaje.precio}

                            p #{viaje.descripcion.substr(0,100)}

                            a(href=`/viajes/${viaje.id}`, class="btn btn-success btn-block") Mas informacion